
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".ts" />
            <mimeMap fileExtension=".ts" mimeType="application/javascript" />
            <remove fileExtension=".tsx" />
            <mimeMap fileExtension=".tsx" mimeType="application/javascript" />
        </staticContent>
    </system.webServer>
</configuration>
